/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow-x: hidden;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
	line-height: 1.25;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* UNIVERSAL STYLING */

.container {
	max-width: 100%;
	margin: 0 auto;
	
}

h1 {
	font-family: lust, serif;
	font-weight: 700;
	font-style: italic;
	padding: 20px;
	font-size: 2.2em;

}

/* HEADER STYLING */

/* Header/logo Title */
.header {
	padding: 60px;
	text-align: center;
	background: white;
	color: black;
  }
  
  /* Style the top navigation bar */
  .navbar {
	display: flex;
	background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
	font-family: capitana, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: .75em;
  }
  
  /* Change color on hover */
  .navbar a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Column container */
  .row {  
	display: flex;
	flex-wrap: wrap;
  }



#logo {
	position: absolute;
	top: 10px;
	left: 5px;
}

#cart {
	position: absolute;
	top: 20px;
	right: 20px;
}




p {
	font-family: capitana, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1em;
} 

/* BODY STYLING */

h2 {
	font-family: capitana, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5em;
	padding: 10px;	
}

p {
	font-family: capitana, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 1em;
	padding: 10px;
} 

.fakeimg img{
width: 100%;
padding: 10px;

}

.shop {
	font-family: capitana, sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: .75em;
	padding: 10px;
	background-color: goldenrod;
	max-width: 35%;
	margin: 0 auto;
}

.shop a {
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
}

/* Our Products*/
.about  {
	padding: 40px;
}

.image-list-small img,
.about-details {
	padding: 30px;
}

.image-list-small img {
	border-radius: 50%;
}

.image-list-small {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
}

.about-details {
	width: 350px;
	text-align: center;
}



/* MEDIA QUERIES*/


@media screen and (max-width: 700px) {
	.row, .navbar {   
	  flex-direction: column;
	}
  }


